<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bitirme_projesi.Properties.Settings.DboTicariOtomasyonConnectionString"
            connectionString="Data Source=LAPTOP-CS3GM3HQ;Initial Catalog=DboTicariOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>